/* app/page.module.css */

.main {
  position: relative; /* <--- ADICIONE ESTA LINHA */
  display: flex;
  flex-direction: column;
 
}

.topoContainer {
  position: absolute;
  top: 30px; /* Distância do topo da tela */
  left: 30px; /* Distância da esquerda da tela */
}
.profileImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block; /* Garante que não sobre espaço em branco embaixo da imagem */
}

.title {
  margin-bottom: 8px;
  font-size: 30px; /* text-3xl */
  font-weight: 700; /* font-bold */
  letter-spacing: -0.025em; /* tracking-tight */
  text-align: center;
}

.description {
  max-width: 448px; /* max-w-md */
  text-align: center;
  color: #4b5563; /* text-gray-600 */
  line-height: 1.5;
}

/* --- ESTILOS DA SEÇÃO DE PROJETOS --- */
.projetosContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.botaoProjeto {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3b82f6;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(59, 130, 246, 0.3);
}

.botaoProjeto:hover {
  background-color: #2563eb;
}